@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* background: rgba(98, 0, 245, 255); */
}

.sidebar {
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 10px;
}

.logo-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 50%;
  background: rgba(98, 0, 245, 255);
}

.menu-bar {
  height: 90.4vh;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1rem;
  position: relative;
}

.toggle-theme-btn {
  position: absolute;
  bottom: 30px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.toggle {
  margin-left: 15px;
}

.intent-item {
  position: relative;
}

.intent-item:hover .follow-up-btn,
.intent-item:hover .delete-btn {
  display: block;
}

.follow-up-btn,
.delete-btn {
  display: none;
  position: absolute;
  transform: translateY(-50%);
}

.follow-up-btn {
  right: 50px;
}

.delete-btn {
  right: 20px;
}
